@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,400&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {
    background-color: #121214;
    width: 100%; 
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: #343439;
    padding: 30px 40px;
    min-width: 470px;
    color: #efefef;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.389 );
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#d20{
    padding: 10px;
    font-weight: bold;
    font-size: 3em;
}

#btn1{
    padding: 10px;
    border-radius: 30px;
    width: 200px;
    font-weight: bold;
    font-size: 1.2em;
    background-color: rgb(187, 68, 187);
    color: rgb(253, 242, 242);
    border: 0px;
    
}

#btn1:hover{
    background-color: rgb(179, 38, 179);
}